html, body, #page, #top, .main, .company-side-bar, #companyListWrap{
    height: 100%;
}

.navbar{
    margin-bottom: 0px;
}

.company-side-bar{
    padding-left: 0;
}

#companyList{
    padding: 0;
    margin: 0px;
    list-style: none;
    background-color: #c0c0c0;
    border: solid 1px #c0c0c0;
    height: 100%;
/*    width: 200px;
    float: left;*/
}

#companyList .selected{
}

#expandTab{
    background-color: #f5f5f5;
    position: absolute;
    height: 100px;
    width: 50px;
}