header .logo{
    height: 50px;
    line-height: 50px;
    font-size: 24px;
}

.navbar{
    margin-bottom: 10px;
}

.navbar-inverse .navbar-inner {
    background: #0C7854;
}
.navbar .nav > li > a {
    color: #000000;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
    color: #000000;
    background-color: white;
}

.navbar .nav > li > a:hover {
    color: #000000;
    background-color: white;
}

.navbar-inner .brand{
    color: #ffffff;
}

#btnLogout{
    line-height: 40px;
}